# qmake build output
/.qmake.stash
/Makefile
/STIGQter
/*.o
/moc_*
/qmake_resources.qrc
/qrc_*
/ui_*.h

# Qt Test build output
/tests/Makefile
/tests/tst_stigqter
/tests/*.o
/tests/moc_*
/tests/qmake_resources.qrc
/tests/qrc_*
/tests/target_wrapper.sh
/tests/ui_*.h

# Integration test reports and exports
/tests/DFR.xlsx
/tests/POAM.xlsx
/tests/STIGQter.svg
/tests/cmrs.xml
/tests/emass.xlsx
/tests/exported_stig.zip
/tests/main.html
/tests/monolithic.ckl
/tests/test.stigqter
