[Desktop Entry]
Version=0.1.6
Type=Application
Terminal=false
Name=STIGQter
Exec=STIGQter
Comment=STIG Fun with Qt
Icon=STIGQter
StartupNotify=false
Encoding=UTF-8
Categories=Qt;KDE;Security
