[Desktop Entry]
Version=0.1.1
Type=Application
Terminal=false
Name=STIGQter
Exec=/usr/bin/STIGQter
Comment=STIG Fun with Qt
Icon=/usr/share/pixmaps/stigqter.ico
StartupNotify=false
Encoding=UTF-8
Categories=Qt;KDE;Security
