[Desktop Entry]
Version=1.1
Type=Application
Terminal=false
Name=STIGQter
Exec=STIGQter
Comment=Open-Source STIGViewer Reimplementation in Qt
Icon=STIGQter
StartupNotify=false
Encoding=UTF-8
Categories=Qt;Security
