Source: stigqter
Maintainer: Jon Hood <jwh0011@auburn.edu>
Section: utils
Priority: optional
Build-Depends: libtidy-dev (>= 5), libxlsxwriter, libzip-dev, qtbase5-dev, qtbase5-dev-tools, qt5-qmake, zlib1g-dev
Homepage: https://github.com/squinky86/STIGQter

Package: stigqter
Architecture: all
Depends: libqt5gui5, libqt5widgets5, libqt5core5a, libtidy (>= 5), libxlsxwriter, libzip, ${misc:Depends}, ${shlibs:Depends}
Description: Open Source STIGViewer Reimplementation.
 STIGQter is a STIG Compliance database to manage checklist files and
 compliance information. It supports report generation and eMASS integration
 to foster an easier validation event.
 It is licensed under the GPL version 3.
